'.json':
  'Common js init':
    'prefix': 'commonjsin'
    'body': """
      "common_js_version": "v2"
    """

'.js, .source.js.liquid, .js.liquid':
  'setTimeout':
    'prefix': 'setTimeout'
    'body': """
    setTimeout(function () {
      ${1}
    }, 1000)
    """

  'return result':
    'prefix': 'funreturn'
    'body': """
    function ${1:functionName}(${2:param}) {
      var result${3};
      ${4}
      return result;
    }
    """

  'var self = this':
    'prefix': 'varselfthis'
    'body': """
    var self = this;
    """

  'window.location.href':
    'prefix': 'winlochref'
    'body': """
    window.location.href
    """

  'event.preventDefault':
    'prefix': 'eventprevent'
    'body': """
    event.preventDefault();
    """

  'event.stopPropagation':
    'prefix': 'eventstoppropagation'
    'body': """
    event.stopPropagation();
    """

  'var jquery selector':
    'prefix': 'vj'
    'body': """
    var $${1} = ${2};
    """

  'var private':
    'prefix': 'vp'
    'body': """
    var _${1} = ${2};
    """
