'.json':
  'Common js init':
    'prefix': 'commonjsin'
    'body': """
      "common_js_version": "v2"
    """

'.js, .source.js.liquid, .js.liquid':
  'setTimeout':
    'prefix': 'setTimeout'
    'body': """
    setTimeout(function () {
      ${1}
    }, 1000)
    """

  'return result':
    'prefix': 'funreturn'
    'body': """
    function ${1:functionName}(${2:param}) {
      var result${3};
      ${4}
      return result;
    }
    """

  'var self = this':
    'prefix': 'varselfthis'
    'body': """
    var self = this;
    """
