'.js, .source.js.liquid, .js.liquid':
  'window load':
    'prefix': 'winload'
    'body': """
    $(window).on('load', function(event) {
      ${1}
    });
    """

  'document click':
    'prefix': 'documentclick'
    'body': """
      $(document).on('click', '${1}', function(event) {
        event.preventDefault();
        ${2}
      });
    """

  'jquery selector':
    'prefix': 'sq'
    'body': """
    $('${1}');
    """

  'window width':
    'prefix': 'windowwidth'
    'body': """
    $(window).width();
    """

  'window scrollTop':
    'prefix': 'windowscrolltop'
    'body': """
    $(window).scrollTop();
    """

  'cookie jQuery':
    'prefix': 'cookie'
    'body': """
    cookie('${1}');$0
    """
