'.js, .source.js.liquid, .js.liquid':
  'swiper js init':
    'prefix': 'swiper-js'
    'body': """
    var ${1:slider} = new Swiper('${2:.js-slider}', {
      slidesPerView: 4,
      setWrapperSize: true,
      paginationClickable: true,
      loop: true,
      preventClicks: false,
      controlBy: 'container',
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      scrollbar: '.swiper-scrollbar',
      spaceBetween: 20
    });
    """

  'cookie':
    'prefix': 'cookiejquery'
    'body': """
    $.cookie('${1}');
    """

  'magnificPopup open':
    'prefix': 'magnificpopupopen'
    'body': """
    $.magnificPopup.open({
      items: {
        src: '${1}', // can be a HTML string, jQuery object, or CSS selector
        type: 'inline'
      }
    });
    """

  'magnificPopup close':
    'prefix': 'magnificpopupclose'
    'body': """
    $.magnificPopup.close();
    """

  'ionRangeSlider':
    'prefix': 'ionrangeslider'
    'body': """
    ionRangeSlider({
      min: 0,
      max: 10000,
      from: 1000,
      to: 9000,
      type: 'double',
      prefix: "$",
      grid: true,
      grid_num: 10
    });
    """
