'.js, .source.js.liquid, .js.liquid':
  'Products.setConfig':
    'prefix': 'prodsetc'
    'body': """
    Products.setConfig({
      initOption: true,
      filtered: false,
      showVariants: true,
      fileUrl: fileUrl || {},
      useMax: false,
      decimal: {
        kgm: 1,
        dmt: 1
      },
      options: {}
    });
    """

  'Products.get':
    'prefix': 'productsget'
    'body': """
    Products.get(${1: 123456})
      .done(function (_product) {
        ${2}
      })
      fail(function (onFail) {
        console.log(onFail);
      });
    """

  'Products.getList':
    'prefix': 'productsgetlist'
    'body': """
    Products.getList(${1: ['123456', '123455', '1234454']})
      .done(function (_products) {

      })
      fail(function (onFail) {
        console.log(onFail);
      });
    """
